$main-color: rgba(65, 96, 56, 0.884);
$main-light-color: rgba(197, 213, 114, 0.4);
$second-color: rgb(242, 164, 60);
$color-grey-light: grey;
$color-grey-dark: rgb(78, 78, 78);
$color-charcoal: #242424;
